
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro";
    background: black;
    scroll-behavior: smooth;
}

div {
    scroll-margin-top: 96px;
  }

body {
    margin: 0;
    background: url("../images/backgroundImage.png");
    background-size: cover; 
    background-position: center;
}

/* HEADER */
header {
    position: relative;
    width: 100%;
    height: 96px;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
}

header .logo {
    padding-right: 20px;
    width: 96px;
}

header .navigation {
    background: transparent;
}

header .navigation a {
    color: lightgray;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
    transition: 0.4s;
    background: transparent;
    font-size: 20px;
}

header .navigation a:hover,
header .navigation a:active {
    background: rgba(211, 211, 211, 0.173);
}

/* CONTACTS */
main .contacts {
    background: rgba(211, 211, 211, 0.173);
    width: 90%;
    height: auto;
    margin: 160px auto 40px auto;
    padding: 40px;
    padding-bottom: 70px;
    color: lightgray;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

main .contactsRu {
    background: transparent;
}

main .contactsEn {
    font-size: 24px;
    background: transparent;
    padding-bottom: 48px;
    font-weight: 300;
}

main .contacts a {
    padding: 16px;
    color: lightgray;
    background: rgb(210, 100, 60);
    border-radius: 10px;
    text-decoration: none;
    font-size: 24px;
    transition: 0.4s;
}

main .contacts a:hover {
    background: rgb(200, 80, 40);
}

/* PHOTO */
#phoneImage {
    width: 90%;
    margin: 96px auto;
}

/* POLICY */
main .policy {
    background: rgba(211, 211, 211, 0.173);
    width: 90%;
    height: auto;
    margin: 40px auto 96px auto;
    padding: 40px;
    color: lightgray;
    align-items: center;
    text-align: left;
    border-radius: 20px;
}

main .policy h1 {
    background: transparent;
    text-align: center;
    padding-bottom: 20px;
}

main .policy ol {
    background: transparent;
    padding-left: 40px;
}

main .policy li {
    background: transparent;
    font-size: 20px;
    padding: 8px;
}

